.intro-image {

    width: 30%;
    display: block;
    margin: 3rem auto 3rem;

    @media (min-width: 1200px) {
    }
}

.about-intro, .about-information {
    width: 90%;
    display: block;
    margin: 0 auto;
    line-height: 1.6;

    @media (min-width: 800px) {
        width: calc(100% - 30px);
    }

    @media (min-width: 1200px) {
        width: calc(100% - 40px);
      }





}

.about-intro {

    p {
        margin-bottom: 2rem;
        font-weight: 600;

        @media (min-width:550px) {
            font-size: 1.2rem;
        }
        @media (min-width:650px) {
            font-size: 1.4rem;
        }

        @media (min-width:800px) {
            margin-bottom: 2.5rem;
        }
    }

    @media (min-width:800px) {
        font-size: 1.3rem;
        font-weight: 500;
    }

}

.about-information{

    p {
        margin-bottom: 1.3rem;



        @media (min-width:550px) {
            font-size: 1.2rem;
        }
        // @media (min-width:650px) {
        //     font-size: 1.3rem;
        // }

        @media (min-width:850px) {
            margin-bottom: 1.6rem;
            font-size: 1.1rem;
        }

        @media (min-width:1000px) {
            font-size: 1.2rem;
        }
        @media (min-width:1200px) {
            font-size: 1.35rem;
        }
    }

}


.about-main {
    margin-top: 4rem;

    @media (min-width: 850px) {
        margin-top: 6rem;
    }
    @media (min-width: 850px) {
        display: flex;
    }
}



.about-left{

    @media (min-width:850px) {
        width: 58%;
    }

    img {
        @media (min-width:850px) {
            display: none;
        }
    }

}

.about-right {
    display: none;
    position: relative;

    @media (min-width:850px) {
        display:block;
        width: 40%;

        img {
            display: block;
            width: 250px;
            margin-top: 50px;
            margin-right: 3rem;
            margin-left: 8rem;
        }
    }
}
