// CoCo
.hero-banner-coco {
    background-image: url("../images/coco/banner.jpg");
}


.coco-video {
    width: 100%    !important;
    height: auto   !important;
    max-width: 900px;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
