.introduction {
    margin: 0rem auto 3rem;
    width: 90%;

    @media (min-width: 800px) {
        width: calc(100% - 30px);
        margin-top: 6rem;
    }

    @media (min-width: 1200px) {
        width: calc(100% - 40px);
      }


    h1 {
        font-weight: 400;
        font-size: 1.3rem;
        margin-bottom: 16px;
        text-align: center;
        font-family: 'Poppins', sans-serif;

        @media (min-width: 500px) {
            font-size: 1.5rem;
        }

        @media (min-width: 600px) {
            font-size: 1.8rem;
        }
    }


    img {
        width: 200px;
        display: block;
        margin: 2rem auto 0;
    }



}

