.introduction {
    margin: 0rem auto 3rem;
    width: 90%;

    @media (min-width: 800px) {
        width: calc(100% - 30px);
        margin-top: 6rem;
    }

    @media (min-width: 1200px) {
        width: calc(100% - 40px);
      }

    h1 {
        font-weight: 400;
        font-size: 1.3rem;
        margin-bottom: 16px;
        text-align: center;
        font-family: 'Poppins', sans-serif;

        @media (min-width: 500px) {
            font-size: 1.5rem;
        }

        @media (min-width: 600px) {
            font-size: 1.8rem;
        }
    }


    img {
        width: 200px;
        display: block;
        margin: 2rem auto 0;
    }
}

// Masonry Grid
.masonry-grid {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    justify-content: space-between;
  }
  
  .masonry-grid .grid-item {
      width: 90%;
      height: 400px;
      display: flex;
      justify-content: space-between;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0;
  
      @media (min-width: 800px) {
        width: calc(50% - 30px);
      }
  
      @media (min-width: 1200px) {
        width: calc(33% - 30px);
      }
    }
  
//   Grid Item Backgrounds
  .item1 {
    background-image: url("../images/previews/5-o-clock.gif");
  }
  .item2 {
    background-image: url("../images/previews/sunnydale.png");
  }
  .item3 {
    background-image: url("../images/previews/hippo.png");
  }
  .item4 {
    background-image: url("../images/previews/coco.png");
  }
  .item5 {
    background-image: url("../images/previews/tokenstudio.png");
  }
  .item6 {
    background-image: url("../images/previews/logofolio.gif");
  }
  .item7 {
    background-image: url("../images/previews/illustrafolio.png"); 
  }
    
    @media (min-width: 800px) {
      .masonry-grid .item2 { height: 300px; }
      .masonry-grid .item1 { height: 400px; }
      .masonry-grid .item3 { height: 500px; }
      .masonry-grid .item4 { height: 400px; }
      .masonry-grid .item5 { height: 600px; }
      .masonry-grid .item6 { height: 500px; }
      .masonry-grid .item7 { height: 270px; }
  
  }
  
//  Grid item Overlays
  .work-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.486);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  
    .text-container {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%) 
    }
  
    .work-title, .work-description {
      color: white;
      text-align: center;
    }
  
    .work-title {
      font-size: 2.5rem;
      margin-bottom: 0.8rem;
    }
  
    .work-description {
      font-size: 1.5rem;
    } 
  
    &:hover {
      opacity: 1;
    }
  }

