.masonry-grid {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  justify-content: space-between;
}

.masonry-grid .grid-item {
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

    @media (min-width: 800px) {
      width: calc(50% - 30px);
    }

    @media (min-width: 1200px) {
      width: calc(33% - 30px);
    }
  }


.item1 {
  background-image: url("../images/previews/small/example-1-small.png");
}
.item2 {
  background-image: url("../images/previews/small/example-2-small.png");
}
.item3 {
  background-image: url("../images/previews/small/example-3-small.png");
}
.item4 {
  background-image: url("../images/previews/small/example-4-small.png");
}
.item5 {
  background-image: url("../images/previews/small/example-5-small.png");
}
.item6 {
  background-image: url("../images/previews/small/example-6-small.png");
}
.item7 {
  background-image: url("../images/previews/small/example-7-small.jpg"); 
}
  
  @media (min-width: 800px) {
    .masonry-grid .item2 { height: 300px; }
    .masonry-grid .item1 { height: 400px; }
    .masonry-grid .item3 { height: 500px; }
    .masonry-grid .item4 { height: 400px; }
    .masonry-grid .item5 { height: 600px; }
    .masonry-grid .item6 { height: 500px; }
    .masonry-grid .item7 { height: 270px; }

}


.work-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.486);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
  }

  .work-title, .work-description {
    color: white;
    text-align: center;
  }

  .work-title {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
  }

  .work-description {
    font-size: 1.5rem;
  } 

  &:hover {
    opacity: 1;
  }
}