// -----------------------------------------------------------------------------
// This file contains all styles related to the hamburger component.
// -----------------------------------------------------------------------------

.hamburger {
  width: 32px;
  height: 28px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 10000;
  align-items: right;

  @media (min-width: 900px) {
      display: none;
  }
}

.hamburger .bar {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  opacity: 1;
  left: 0;
  transition: .25s ease-in-out;
  border-radius: 8px;

  .show & {
    background: white;
  }

}

.hamburger span:nth-child(1) {
  top: 0px;
}

.hamburger span:nth-child(2), .hamburger span:nth-child(3) {
  top: 10px;
}

.hamburger span:nth-child(4) {
  top: 20px;
}

.show .hamburger span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.show .hamburger span:nth-child(2) {
  transform: rotate(45deg);
}

.show .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
}

.show .hamburger span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}