// Coe from: https://codepen.io/zielkedesign/pen/jOBqpNQ


.laptop-mockup-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;

    .laptop-mockup {
        position: relative;
        width: 120vh;
        height: 95vh;
        margin: auto;

        .laptop {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            pointer-events: none;

            img {
                position: absolute;
                top: 5%;
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
            }
        }


        .laptop-content {
            position: absolute;
            z-index: 1;
            top: 9.15%;
            left: 50%;
            transform: translateX(-50%);
            width: 83.3%;
            height: 59.9%;
            overflow-x: hidden;
            overflow-y: scroll;
            
            img {
                display:block;
                width: 100%;
            }
        } 
    }
}

