html {
  box-sizing: border-box;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

img {
    max-width: 100%;
    height: auto;
  }

.wrapper {
  max-width: 1236px;
  margin: 0 auto;
  // padding-left: 1rem;
  // padding-right: 1rem;

  @media (min-width: 800px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


