html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
  }

.wrapper {
  max-width: 1236px;
  margin: 0 auto;
  // padding-left: 1rem;
  // padding-right: 1rem;

  @media (min-width: 800px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


